@import "../variables";

.navbar-default {
  background: $primary-bg-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

  a {
    color: $text-black;
    padding: 0 10px;
    margin: 5px 10px;
    font-weight: 600;

    &:hover {
      color: $text-black;
      text-decoration: underline;
    }
  }
}
