@import "../variables";

.section_about {
  display: flow-root;
  margin: auto;
}

.section_aboutUs {
  .section_aboutItem {
    border: none;
  }
}

.section_aboutItem {
  text-align: center;
  padding: 30px;
  margin: -40px 30px;
  height: 400px;
  width: 400px;
  border: 1px solid;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  clear: both;
  
  &.even {
    float: right;
  }
  &.odd {
    float: left;
  }

  @media screen and (max-width: 450px) {
    width: 300px;
  }
}

.section_aboutPerex {
  margin-bottom: 35px;
  text-align: center;
}